body {
background-color:white;
background-image: linear-gradient(white 0px, transparent 0px),
linear-gradient(90deg, white 0px, transparent 0px),
linear-gradient(rgba(0,0,0,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(0,0,0,.3) 1px, transparent 1px);
background-size:30px 30px, 30px 30px, 50px 50px, 50px 50px;
background-position:0px 0px, 0px 0px, 0px 0px, 0px 0px
}

#yellow {
  position: absolute;
  width: 400px;
  height: 150px;
  left: 148px;
  top:348px;
  background-color: yellow;
  background-size: cover;
  cursor: move;
  opacity: 0.5;
  clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
}

#red {
  position: absolute;
  z-index: 10;
  width: 400px;
  height: 150px;
  left: 148px;
  top:348px;
  background-color: red;
  background-size: cover;
  opacity: 0.5;
  cursor: move;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

#green {
  position: absolute;
  z-index: 10;
  width: 250px;
  height: 250px;
  left: 148px;
  top:99px;
  background-color: lime;
  background-size: cover;
  opacity: 0.5;
  cursor: move;
  clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
}

#blue {
  position: absolute;
  left: 297px;
  top:99px;
  z-index: 10;
  width: 250px;
  height: 250px;
  background-color: blue;
  background-size: cover;
  opacity: 0.5;
  cursor: move;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
}

#length{
  position: absolute;
  font-size: 40px;
  left: 557px;
  top:237px;
  color:"#2F4F4F";
}

#width{
  position: absolute;
  font-size: 40px;
  left: 337px;
  top:12px;
  color:"#2F4F4F"
}

#eq1 {
  position: absolute;
  font-size: 40px;
  left: 737px;
  top:-10px;
}