header{
	background-color:#505050;
}
h1{
	color:#FFFFFF;
	text-transform:uppercase;
	text-align:center;
}
h2{
	color:#000066;
	text-transform:uppercase;
}
section{
	background-color:#A0A0A0;
}
a{
	background-color:#D0D0D0;
	color:#202020;
	text-align:center;
}
img{
	display:none;
}
